a {
    text-decoration: none;
    color: #ffd700;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
    text-shadow: 0px 0px 8px #ffd700;
}

img {
    float: left;
    border: 5px double black;
    margin: 0px 0px 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background: pink;     
    font-family: Arial, sans-serif;
}

.Login-box {
    width: 350px;
    padding: 35px;
    background: rgba(255, 243, 243, 0.685);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.input-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: gold;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: orange;
}
